#home-head {
  color: black;
  text-align: center;

  background-clip: text;
}
main {
  padding-top: 4rem;
  min-height: calc(100vh - 95px);
  background-image: url("./images/12.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 2rem;
}
#para-div1 {
  width: 70%;
  margin: 5rem auto;
  text-align: center;
}
#para-div1 p {
  margin-top: 1rem;
}
footer {
  text-align: center;
  background: linear-gradient(
    60deg,
    rgb(183, 127, 8),
    rgb(187, 232, 52),
    rgb(255, 101, 198)
  );
  position: fixed;
  bottom: 0;
  padding: 0.5rem;
  width: 100%;
}

.home-page {
  min-height: calc(100vh - 120px);
  background-image: url("./images/12.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  text-align: center;
  padding-top: 35px;
}

#home-head {
  margin-bottom: 35px;
}

#para-div1 {
  max-width: 850px;
  margin: auto;
  font-weight: 500;
}
